.contenedor-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.card-novedades {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 30px;
}

.ver-mas-card {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 100px;
}

.imagen-card {
    width: 100%;
}


.imagen-card img {
    width: 100%;
    margin-bottom: 15px;
    -webkit-transition: 1.5s ease;
}

.imagen-card img:hover {
    width: 95%;
   
}

.subtitulo-card h4 {
    color: var(--btnPrimary);
    font-size: 12px;
}

.titulo-card h1 {
    color: #0F0F0F;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}


.fecha-card h4 {
    color: #8D8FA1;
    font-size: 12px;
    margin-bottom: 20px;
}

.parrafo-card p {
    color: #0F172C;
    font-size: 12px;
    width: 310px;
}

.ver-mas-card a {
    color: var(--btnPrimary);
    font-size: 12px;
}

.ver-mas-card a:hover {
    color: var(--colorPrimary);
   
}