@media (min-width: 768px) and (max-width: 991.98px) { 

    .navbar {
        display: block !important;
    }
    
    .contenedor-headers {
        display: none;
    }

    .contenedor-presentacion {
        height: auto;
    }

    .column-presentacion-1 {
        display: none;
    }

    .column-presentacion-4 {
        display: none;
    }

    .column-presentacion-2 {
        height: auto;
        width: 100%;
    }

    .column-presentacion-2 h1 {
        font-size: 30px;
    }

    .column-presentacion-2 p {
        width: auto;
        margin-bottom: 40px;
    }

    .column-presentacion-3 {
        display: none;
    }
  
    .contenedor-foto-mobile {
        display: flex !important;
        justify-content: center;
    }

    .foto-mobile {
        width: 100%;
    }

    .column-menu-datos-1 {
        display: none;
    }

    .column-menu-datos-3 {
        flex-direction: row;
        padding-right: 0;
        justify-content: space-between;
        margin-top: 0;
        height: auto;
        align-items: center;
    }

    .categoria-datos {
        justify-content: flex-start;
    }

    .column-menu-datos-4 {
        display: none;
    }

    .contenedor-video {
        display: none;
    }

    .column-video-1 , .column-video-2 {
        display: none;
    }

    .column-seccion-ingreso-1 {
        display: none;
    }

    .column-seccion-ingreso-2 {
        height: auto;
        width: 100%;
    }

    .titulo-ultimo-ingreso {
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
    }

    .column-menu-btn-oportunidades-1 {
        display: none;
    }

    .column-seccion-ingreso-4 {
        display: none;
    }

    .column-novedades-1 {
        display: none;
    }

    .column-menu-btn-novedades-1 {
        display: none;
    }

    .contenedor-novedades {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-cards {
        flex-direction: column;
        display: contents;
    }

    .card-novedades {
        width: auto;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }

    .contenedor-formulario {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .column-formulario-1 {
        display: none;
    }

    .linea-fija-blanca-left {
        height: auto;
    }

    .titulo-cafe h1 {
        font-size: 40px;
    }

    .linea-fija-blanca-center {
        height: auto;
    }

    .column-formulario-3 {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }

    .contenedor-footer {
        height: auto;
    }

    .linea-fija-blanca-left-footer, .linea-fija-blanca-center-footer, .linea-fija-blanca-right-footer {
        height: auto;
    }

    .contacto-left {
        flex-direction: column;
        height: auto;
        justify-content: space-around;
    }

    .column-formulario-2 {
        height: auto;
        width: 100%;
    }

    .column-footer-1 {
        display: none;
    }

    .contenedor-form-contacto {
        height: auto;
    }

    .contacto-right {
        height: auto;
    }

    input {
        width: 400px;
    }

    form {
        top: 0;
    }

    .contenedor-submit {
        top: 0;
        flex-direction: column;
    }

    .contacto-left h2 {
        margin-top: 20px;
    }

    form h5 {
        left: -95px;
        margin-bottom: 50px;
        align-items: flex-start;
    }

    .btn-submit {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .column-footer-3 h4 {
        margin-left: 5px;
    }

    .ver-mas-card {
        left: 0;
    }

    .contenedor-seccion-ingreso {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .column-seccion-ingreso-3 {
        height: 550px;
        width: 100%;
    }

    .linea-fija-negra-left {
        display: none;
    }

    .column-novedades-2 {
        height: auto;
        margin-top: 15px;
        width: 100%;
        display: block;
    }

    .linea-fija-negra-right {
        height: auto;
    }

    .linea-fija-negra {
        display: none;
    }

    .btn-bajar-secciones {
        display: none;
    }

    .contenedor-barra-ingreso {
        display: none;
    }

    .btn-bajar-secciones-3 {
        display: none;
    }

    .btn-bajar-secciones-4 {
        display: none;
    }

    .contenedor-menu-btn-novedades {
        display: none;
    }

    .contenedor-menu-btn-oportunidades {
        display: none;
    }

    .email {
        margin-bottom: 25px;
    }

    .linea-fixed-center {
        display: none;
    }

    .link-menu-hamburguesa a {
        width: 30%;
     }
}